*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#footer{
    padding-top: 60px;
}
#spandot{
    font-size: 50px;
}
#fontgp{
    font-size: 35px;
}
strong {
    font-weight: bolder;
}
#footer .footer-top .footer-info h3 {
    font-size: 32px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}
.icon a{
    text-decoration: none;
    color: #ffc451;
    padding: 4px;
    font-size: 30px;
}
.icon a:hover{
    text-decoration: none;
    color: #fff;
    padding: 4px;
    font-size: 30px;
}

#footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #ffc451;
    color: #151515;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}

.credits a{
    text-decoration: none;
    color: #ffc451;
}
