*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.8);

  }
  
  
  #header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  #header .logo a {
    color: #fff;
  }
  
  #header .logo a span {
    color: #ffc451;
  }
  
  #header .logo img {
    max-height: 40px;
  }
   .navbar {
    padding: 0;
  }
  
  #navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  #navbar li {
    position: relative;
  }
  
  #navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  #navbar a i,
  #navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  #navbar a:hover,
  #navbar .active,
  #navbar .active:focus,
  #navbar li:hover>a {
    color: #ffc451;
  }
  
  #navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
 box-shadow:10px 10px 15px 2000px rgba(0, 0, 0, 0.8) inset;
    transition: 0.3s;
  }
  
  #navbar .dropdown ul li {
    min-width: 200px;
  }
  
  #navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #151515;
    font-weight: 400;
  }
  
  #navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  #navbar .dropdown ul a:hover,
  #navbar .dropdown ul .active:hover,
  #navbar .dropdown ul li:hover>a {
    background-color: #ffc451;
  }
  
  #navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  #navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  #navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
   