*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#portfolio {
    padding-top: 60px ;
    /* overflow: hidden; */
  }

  #section-title {
    /* padding-top: 40px; */
    padding-bottom: 40px;
  }

  #section-title #ptf {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }

  #section-title #ptf::after {
    content: "";
    width: 120px;
    height: 2px;
    display: inline-block;
    background: #ffde9e;
    margin: 4px 10px;
  }

  #section-title #coptf {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #151515;
  }

   #justify-content{
    justify-content: center !important;
  }

   #portfolio #portfolio-flter {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
  }


  #portfolio #portfolio-flter #list {
    cursor: pointer;
    display: inline-block;
    padding: 8px 1px 10px 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    /* transition: all 0.3s ease-in-out; */
    border-radius: 3px;
  } 

  #portfolio #portfolio-flter #list:hover {
    /* border: 1px solid #151515; */
    background-color: #f3c849;
    padding: 10px 15px;
    color: #151515;

  }
