#sec3 #image{
    width: 100%;
    height: 600px;   

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#sec3{
    padding-top: 40px;
}
#sec3 #icon{
    font-size: 45px;
    /* margin-top: 30px; */
    padding-right: 10px;
    color: #dba607;
}
#sec3 #h3{
    padding-top: 25px;
    padding-left: 10px;
    font-size: 30px;
}

#sec3 #p1{
    padding-left: 40px;
    font-size: 15px;
    color: grey ;
}
#sec3 #h3:hover{
    color: #dba607;
    transition: all ease-in-out 0.5s;
}
#sec3 #icon:hover{
    color: #c99c14;
}
